# -*- coding: utf-8 -*-
<%!
from bosco.runner import Team, Category
from bosco.course import Course
from bosco.run import Run
from bosco.ranking import OpenRuns, Validator, Relay24hScore
blocks_de = {'start' :'Start',
             'night' :'Nacht',
             'day'   :'Tag',
             'finish':'Ziel'}
%>

<%inherit file="base.html"/>

<%include file="header.html"/>

%for ranking in rankings:

<tr>
  <td>
    %if type(ranking.rankable) == OpenRuns:
      <font size="+2"><b>Vorwarnung</b></font><br>
      Läufer beim letzten Posten
    %else:
      <font size="+2"><b>${ranking.rankable}
      %if type(ranking.scoreing_args) == dict and 'blocks' in ranking.scoreing_args and ranking.scoreing_args['blocks'] != 'finish':
        ${'(nach %s Block)' % blocks_de[ranking.scoreing_args['blocks']]}
      %elif type(ranking.scoreing_args) == dict and 'method' in ranking.scoreing_args and ranking.scoreing_args['method'] == 'lkm':
        (nach Leistungskilometern)
      %elif type(ranking.scoreing_args) == dict and 'method' in ranking.scoreing_args and ranking.scoreing_args['method'] == 'speed':
        (nach Geschwindigkeit)
      %endif
      </b></font><br> 
      %if type(ranking.rankable) == Course:
      (${ranking.rankable.length/1000.0}km, ${ranking.rankable.climb}m, ${ranking.rankable.controls.count()} Po.)
      %endif
    %endif
  <td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>
<table>
  <tr>
  %if type(ranking.rankable) == OpenRuns:
    <td><b>Team</b></td>
    <td><b>Start Nr.</b></td>
    <td><b>Läufer</b></td>
    <td><b>Zeit</b></td>
  %elif type(ranking.rankable) == Category:
    <td><b>Rang</b></td>
    <td><b>Team</b></td>
    <td><b>Start Nr.</b></td>
    <td><b>${type(ranking.scoreing_args) == dict and 'method' in ranking.scoreing_args and (ranking.scoreing_args['method'] == 'lkm' and 'LKm' or ranking.scoreing_args['method'] == 'speed' and 'min/Lkm') or u'Läufe'}</b></td>
    <td><b>Laufzeit</b></td>
    <td><b>Zielzeit</b></td
  %elif type(ranking.rankable) == Course:
    <td><b>Rang</b></td>
    <td><b>Läufer</b></td>
    <td><b>Jg.</b></td>
    <td><b>Nummer</b></td>
    <td><b>Team</b></td>
    <td><b>Zeit</b></td>
  %endif
  </tr>
  %for r in ranking:
  <tr>
  %if type(ranking.rankable) == OpenRuns:
    ${warning(r)}
  %elif type(r['item']) == Team:
    ${team(r)}
  %elif type(r['item']) == Run:
    ${run(r)}
  %endif
  </tr>
  %endfor
</table>
  </td>
</tr>

%endfor

<%def name="team(r)">
    <td valign="top">${r['rank'] and ('%3i.' % r['rank']) or ''}</td>
    <td valign="top">${r['item']}</td>
    <td valign="top">${r['item'].number or ''}</td>
    %if r['rank']:
    <td valign="top">${'%1.2f' % r['scoreing']['score'].runs}</td>
    <td valign="top">${r['scoreing']['score'].time}</td> 
    <td>${'finishtime' in r['scoreing'] and r['scoreing']['finishtime'].strftime('%H:%M:%S') or ''}
    %else:
    <td valign="top" colspan="3">${validation_codes[r['validation']['status']]}</td>
    %endif
</%def>

<%def name="run(r)">
    <%
      runner = r['item'].sicard.runner
      team = runner and runner.team or None
    %>
    <td valign="top">${r['rank'] and ('%3i.' % r['rank']) or ''}</td>
    <td valign="top">${r['item']}</td>
    <td valign="top">${runner and runner.dateofbirth and runner.dateofbirth.strftime('%y') or ''}</td>
    <td valign="top">${runner and runner.number or ''}</td>
    <td valign="top">${team and team.name or ''}</td>
    <td valign="top">${r['rank'] and r['scoreing']['score'] or validation_codes[r['validation']['status']]}</td>
</%def>

<%def name="warning(r)">
  %if r['validation']['status'] == Validator.OK:
    <%
      runner = r['item'].sicard.runner
      team = runner and runner.team or None
    %>
    <td valign="top">${team and team.name or ''}</td>
    <td valign="top">${runner and runner.number or ''}</td>
    <td valign="top">${r['item']}</td>
    <td valign="top">${r['scoreing']['score']}</td>
  %endif
</%def>
